POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="be"

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/be?schema=public"

PORT=3000

JWT_ACCESS_SECRET="dev-access-secret"
JWT_REFRESH_SECRET="dev-refresh-secret"
JWT_ACCESS_TTL="15m"
JWT_REFRESH_TTL="7d"